{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="span12">
    <h1>Book History</h1>
    <table style="width:100%;" class="content">
      <tr>
        <th>Author</th>
        <th>Book Name</th> 
        <th>Timestamp</th>
      </tr>
      {% for item in books %}
      <tr>
        <td>{{item.author}}</td>
        <td>{{item.book_name}}</td>
        <td><time>{{item.create_time|date:"yyyy-MM-dd HH:mm"}}</time></td>        
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<hr class="horizontal-line">
<div class="row">
  <div class="span12">
    <h1>Add Book</h1>
    <form method="POST" action="/saveBook">
      {% csrf-field %}
      <p>
      Name:
        <input class="form-control"
               type="text"
               name="book_name"
               value="{{book_name}}" placeholder="enter book name" />
      </p>
      {% if errors.book %}
      <div class="alert alert-danger">{{errors.book|join}}</div>
      {% endif %}
      <p>
        Author:
        <input class="form-control"
                   type="text"
                  name="author"  value="{{author}}" />
      </p>
      {% if errors.message %}
      <div class="alert alert-danger">{{errors.message|join}}</div>
      {% endif %}
      <input type="submit" class="btn btn-primary" value="create record" />
    </form>
  </div>
</div>

{% endblock %}

